.content_section{
    width: 900px;
    margin: auto;
    
    border-radius: 5px;
    padding: 0px;
    background-color: white;
}

.content_column{
    margin-top: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 30px 0px 30px;
}

.border {
    border: 1px solid #e9ecef;
}



.content_column > div{
    width: 240px;
    margin: 15px;
}

.title{
    
    margin-left: 30px;
}


.more_btn{
    width: 100%;
    border-top: 1px solid #868e96;
    margin: 0px;
    text-align: center;
    padding: 20px;
    color: #868e96;
}


.card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.2em;
    margin-top: 15px;
}


.haeder_more{
    font-size: 0.9em;
    color:coral;
}