.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding-top: 30px;
}


.header_left{
    display: flex;

}

.header_left div{
    padding-left: 30px;
    display: flex;
}

.header_left div input {
    border: 1px solid #868e96;
    width: 300px;
    border-right: none;
}

.header_left div button {
    border: 1px solid #868e96;
    border-left: none;
    background-color: white;
    
}

.recommend_list{
    display: flex;
    padding-top: 20px;
    padding-left: 250px;
    padding-bottom: 15px;
    background-color: white;
    border-bottom: 1px solid #e9ecef;
    color: #868e96;
    font-size: 0.9em;
}
.recommend_list div{
    margin-left: 15px;
}

.recommend_list span{
    font-weight: bold;
}

.btn{
    background-color: white;
    border: 1px solid #868e96;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-right: 15px;
}